<h2><%= @song.title %></h2>
<div id="song">
    <ul>
        <li>Released: <%= @song.released %></li>
        <li>Release Year: <%= @song.release_year %></li>
        <li>Artist Name: <%= @song.artist_name %></li>
        <li>Genre: <%= @song.genre %></li>
    </ul>
</div>